* {
  font-family: "Mulish", sans-serif;
}
/* navbar */
.container,
.footer__container {
  padding: 0;
  max-width: 1160px;
  padding: 0 20px;
}
.footer__container {
  display: flex;
  margin: 0 auto;
}

/* nav {
  height: 12vh;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link,
.nav-search {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-link__item-logo {
  display: inline-block;
  vertical-align: middle;
}
.nav-link__item {
  display: inline-block;
  padding-left: 48px;
  font-weight: 600;
  font-size: 16px;
  color: #414141;
}
.nav-link__item a {
  text-decoration: none;
}
.nav-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24%;
}
.nav-search__item {
  background-color: none;
  color: #414141;
}
.btn__dropdown,
.btn__sign-up {
  width: 120px;
  text-decoration: none;
  color: #414141;
  font-weight: 600;
}
.btn__sign-up {
  padding: 8px 28px;
  font-size: 14px;
  background-color: #5f2eea;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  color: #f7f7fc;
} */

/* navbar bootstrap */
.navbar {
  background-color: #ffffff !important;
  color: #5f2eea;
}
.navbar-toggler {
  padding: 0 !important;
  border: none !important;
}
.menu-toggler {
  width: 36px;
  height: 36px;
}
.search-mobile {
  display: none;
}
.footer-nav-mobile {
  display: none;
}
#search-navbar {
  width: 28%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.btn-sign-up-navbar {
  width: 36%;
  height: 40px;
  background-color: #5f2eea;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #f7f7fc;
  outline: none;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #414141;
}
.bi-search {
  cursor: pointer;
}

/* jumbotron */
.jumbotron {
  height: 76vh;
  display: flex;
  padding-left: 48px;
  overflow-y: hidden;
}
.jumbotron__slogan {
  height: 100%;
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.jumbotron__slogan h3 {
  font-size: 22px;
  font-weight: 500;
  color: #aaaaaa;
}
.jumbotron__slogan h2 {
  font-size: 54px;
  font-weight: 900;
  color: #5f2eea;
}
.jumbotron__img {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.jumbotron__img--img {
  height: 480px;
  width: 440px;
}
/* showing-list */
.showing-list {
  width: 100%;
  height: 540px;
  min-height: 40px;
  background-color: #f5f6f8;
}
.showing-list__header {
  width: 100%;
  padding: 38px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5f2eea;
}
.showing-list__title {
  font-weight: 900;
  font-size: 24px;
}
.shwoing-list__all {
  font-weight: 600;
  font-size: 16px;
}
.showing-list__movie {
  width: 100%;
  min-height: 200px;
  white-space: nowrap;
  overflow-x: scroll !important;
  overflow-y: visible !important;
}
.showing-list__movie--banner {
  margin: 18px;
  /* padding: 20px 18px; */
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
.upcoming-list {
  padding: 60px 0;
  width: 100%;
}
.showing-list_detail {
  width: 100%;
  top: 50%;
  padding: 0 18px;
  transform: translateY(-20px);
  background-color: #ffffff;
  transition: 0.6s;
  transition-delay: 0.2s;
  z-index: 999 !important;
  /* opacity: 0; */
  display: none;
  border-radius: 8px;
}
.showing__detail-name {
  font-weight: 600;
}
.movie-card__name {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 700;
  /* white-space: initial; */
}
.showing__detail-genre {
  font-size: 12px;
  font-weight: 400;
  color: #a0a3bd;
}
.showing-list__movie--banner:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 30px rgba(186, 186, 186, 0.25);
  cursor: pointer;
}
/* ========================== */
.showing-list__movie--banner:hover .showing-list__movie {
  /* overflow-y: visible !important;
  overflow-x: unset; */
}
/* ========================== */
.showing-list__movie--banner:hover .showing-list_detail {
  top: 100%;
  /* opacity: 1; */
  display: block;
}
.btn-detail {
  border-radius: 4px;
}
.showing-button-details:hover {
  color: #ffffff;
  background-color: #5f2eea;
}
.showing-button-details:hover .showing-button-details,
.showing-button-book {
  height: 32px;
  font-size: 14px;
  font-weight: 500;
}
.showing-button-details {
  border: 1px solid #5f2eea !important;
  color: #5f2eea;
  background-color: #ffffff;
}
.showing-button-book {
  border: none;
  background-color: #5f2eea;
  color: #ffffff;
}
.upcoming-list__header {
  display: flex;
  justify-content: space-between;
}
.upcoming-list__header--title {
  font-weight: 900;
  font-size: 24px;
  color: #14142b;
}
.upcoming-list__header--all {
  font-weight: 600;
  font-size: 16px;
  color: #5f2eea;
}
.month-list {
  padding: 28px 0;
  white-space: nowrap;
  overflow-x: auto;
}
.month-name {
  margin: 0 4px;
  padding: 8px 4px;
  display: inline-block;
  width: 114px;
  border: 1px solid #5f2eea;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  color: #5f2eea;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.month-name:hover {
  background-color: #5f2eea;
  color: #ffffff;
  cursor: pointer;
}
#active {
  background-color: #5f2eea;
  color: #ffffff;
}

.upcoming-list__movie-list {
  padding-top: 40px;
  white-space: nowrap;
  overflow-x: auto;
}
.upcoming-list__movie-card {
  width: 200px;
  padding: 24px 12px;
  text-align: center;
  display: inline-block;
}
.upcoming-list__movie-card img {
  width: 160px;
}

.movie-card__genre {
  font-size: 12px;
  color: #a0a3bd;
}
.upcoming-list__movie-card button {
  width: 100%;
  height: 32px;
  margin-top: 18px;
  padding: 6px;
  border: 1px solid #5f2eea;
  border-radius: 4px;
  color: #5f2eea;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  background-color: #ffffff;
}
.upcoming-list__movie-card button:hover {
  background-color: #5f2eea;
  color: #ffffff;
}
/* subscribe  */
.subscribe {
  width: 100%;
  height: 700px;
  padding: 40px 0;
}
.subs-container {
  padding: 40px 10px;
}
.subs-content {
  padding: 72px;
  padding: 22px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 16px 32px rgba(186, 186, 186, 0.3);
}
.subscribe__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.subscibe__slogan {
  font-size: 24px;
  font-weight: 500;
  color: #14142b;
}
.subscibe__title {
  font-size: 48px;
  font-weight: 900;
  color: #5f2eea;
}
.input-email {
  width: 40%;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.input-subs {
  width: 280px;
  height: 48px;
  margin: 0 auto;
  padding-left: 20px;
  border: 1px solid #dedede;
  color: #a0a3bd;
}
.btn-subscribe {
  width: 120px;
  border: none;
  background-color: #5f2eea;
  color: #ffffff;
}
.input-subs,
.btn-subscribe {
  border-radius: 6px;
}
.subscribe-desc {
  width: 38%;
  height: 70px;
  margin: 46px auto 22px;
  text-align: center;
  font-size: 14px;
  color: #6e7191;
}
/* footer */
.footer {
  width: 100%;
}
.footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer span {
  display: block;
}
.foot {
  padding-top: 12px;
}
.foot-list {
  padding: 4px 0;
  list-style: none;
  color: #6e7191;
}
.list-header {
  font-weight: 600;
  margin-bottom: 12px;
}
.footer__title {
  margin-bottom: 32px;
  width: 28%;
  font-size: 16px;

  font-weight: 500;
}
.footer__title-logo {
  width: 200px;
  margin-bottom: 8px;
}
.footer__explore {
  width: 18%;
  list-style: none;
}
.list-header {
  padding-left: 32px;
}
.footer__explore-list a {
  text-decoration: none;
}
.footer__sponsor-list {
  padding-bottom: 12px;
}

.footer__sponsor img {
  padding-bottom: 18px;
}
.footer-logo {
  margin-right: 12px;
}
.footer__account-list span {
  display: inline-block;
}
.footer__sponsor,
.footer__account {
  width: 25%;
}
.footer__copyright {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #4e4b66;
}
/* responsive */
@media (max-width: 1140px) {
  .input-email {
    width: 70%;
    justify-content: center;
  }
  .input-subs {
    margin: 0 12px;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 36px;
  }
  .search-mobile {
    border-bottom: none !important;
  }
  #search-navbar {
    width: 100%;
    flex-direction: column;
    text-align: start;
    display: block !important;
  }
  .nav-item {
    display: block;
    margin: 0 16px !important;
    text-align: center !important;
    padding: 8px 0 !important;
    border-bottom: 1px solid #dedede;
  }
  .nav-link {
    margin: 0 !important;
    padding: 8px 0 !important;
  }
  .nav-search {
    padding: 8px 0 !important;
  }
  .bi-search {
    display: none;
  }
  .btn-sign-up-navbar {
    display: none;
  }
  .movie-detail__title {
    padding-top: 24px;
    text-align: center;
  }
  .movie-detail__desc {
    padding-left: 0 !important;
  }

  .footer-nav-mobile {
    margin-top: 36px !important;
    border-bottom: none !important;
  }
  .footer-nav-mobile a {
    display: unset;
    color: #6e7191;
    font-size: 14px;
  }
}
@media (max-width: 975px) {
  #search-navbar {
    width: 100% !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #navbar-dropdown {
    width: 100% !important;
  }
  .jumbotron__slogan h3 {
    font-size: 18px;
  }
  .jumbotron__slogan h2 {
    font-size: 44px;
  }
  .jumbotron__img--img {
    width: 420px;
    height: 480px;
  }
}
/* responsive-footer */
@media (max-width: 768px) {
  .jumbotron {
    height: unset;
    padding-left: 0;
    flex-direction: column;
  }
  .jumbotron__slogan {
    padding-top: 64px;
  }
  .jumbotron__img {
    width: 100%;
    justify-content: center;
  }
  .showing-list__movie--banner,
  .upcoming-list__movie-card {
    margin: 18px 0;
    padding: 20px 12px;
  }
  .upcoming-list__movie-card {
    width: 200px;
  }
  .movie-card__name {
    height: 42px;
  }

  .movie-card__name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .upcoming-list__movie-card img {
    width: 100%;
  }
  .showing-list__movie--banner img {
    width: 125px;
    height: 200px;
  }
  .subscribe-desc {
    width: 80%;
  }
  .footer__container {
    display: block;
  }
  .foot {
    width: 100%;
  }
  .footer__explore-list {
    margin-right: 8px;
  }
  .list-header {
    padding-left: 0;
  }
  .footer__explore-item,
  .footer__sponsor-item {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__account-item {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
  }
  .footer__account-item span {
    display: none;
  }
  .footer__copyright {
    justify-content: start;
    text-align: left;
  }
  .footer__copyright {
    justify-content: start;
    text-align: left;
  }
  .footer__container {
    margin: 0;
  }
  .foot {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .jumbotron__slogan h3 {
    font-size: 14px;
    font-weight: bolder;
  }
  .jumbotron__slogan h2 {
    font-size: 38px;
  }
  .jumbotron__img--img {
    width: 280px;
    height: 380px;
  }
  .input-email {
    flex-direction: column;
  }
  .input-subs {
    padding: 0;
    margin: 0 0 22px;
    width: 100%;
  }
  .btn-subscribe {
    width: 100%;
    height: 46px;
  }
  .subscibe__slogan {
    font-size: 16px;
  }
  .subscibe__title {
    font-size: 32px;
  }
  .subscribe-desc {
    width: 100%;
  }
  .foot {
    width: 100%;
  }
}
