* {
  font-family: "Mulish", sans-serif;
}
button {
  outline: none;
}
/* navbar */
.container,
.footer__container {
  padding: 0;
  max-width: 1160px;
  padding: 0 20px;
}
.footer__container {
  display: flex;
  margin: 0 auto;
}
/* navbar bootstrap */
.navbar {
  background-color: #ffffff !important;
  color: #5f2eea;
}
.navbar-toggler {
  border: none !important;
}
.menu-toggler {
  width: 36px;
  height: 36px;
}
.search-mobile {
  display: none;
}
.footer-nav-mobile {
  display: none;
}
#search-navbar {
  width: 28%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.btn-sign-up-navbar {
  width: 36%;
  height: 40px;
  background-color: #5f2eea;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #f7f7fc;
  outline: none;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #414141;
}
.bi-search {
  cursor: pointer;
}
/* main */
main {
  /* height: 100vh; */
  background-color: #f5f6f8;
}
.payment-info__detail,
.personal-info__detail {
  background-color: #ffffff;
  border-radius: 6px;
}
.payment-info--list {
  border-bottom: 1px solid #e6e6e6;
}
.info-header {
  font-size: 22px;
  font-weight: 700;
  color: #14142b;
}
.property {
  font-size: 14px;
  font-weight: 400;
  color: #6b6b6b;
}
.value {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.price {
  font-size: 22px;
  font-weight: 600;
  border-bottom: none !important;
}
.payment-method__option {
  margin-top: 20px;
  padding-top: 19px;
  border-radius: 6px;
  background-color: #ffffff;
}
.method-payment__button {
  font-size: 22px;
  color: #5f6368;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #dedede;
  width: 140px;
}
.or {
  font-size: 14px;
  color: #a0a3bd;
}
.option-cash__link {
  text-align: center;
  color: #a0a3bd;
  font-weight: 600;
  font-size: 14px;
}
.option-cash__link a {
  text-decoration: none;
  color: #5f2eea;
}
.btn-payment {
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.btn-confirm-payment,
.btn-back-step:hover {
  background-color: #5f2eea;
  color: #f5f6f8;
}
.btn-back-step {
  border: 2px solid #5f2eea;
  color: #5f2eea;
}
.input-personal-info {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  border: 1px solid #dedede;
  border-radius: 6px;
  font-size: 16px;
  color: #4e4b66;
}
.personal-info__description {
  height: 489x;
  font-size: 14px;
  font-weight: 400;
  color: #4e4b66;
  border-radius: 6px;
  background-color: rgba(244, 183, 64, 0.3);
}
/* footer */
.footer {
  width: 100%;
}
.footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer span {
  display: block;
}
.foot {
  padding-top: 12px;
}
.foot-list {
  padding: 4px 0;
  list-style: none;
  color: #6e7191;
}
.list-header {
  font-weight: 600;
  margin-bottom: 12px;
}
.footer__title {
  margin-bottom: 32px;
  width: 28%;
  font-size: 16px;

  font-weight: 500;
}
.footer__title-logo {
  width: 200px;
  margin-bottom: 8px;
}
.footer__explore {
  width: 15%;
  list-style: none;
}
.list-header {
  padding-left: 26px;
}
.footer__explore-list a {
  text-decoration: none;
}
.footer__sponsor-list {
  padding-bottom: 12px;
}
.footer__sponsor img {
  padding-bottom: 18px;
}
.footer-logo {
  margin-right: 8px;
}
.footer__account-list span {
  display: inline-block;
}
.footer__sponsor {
  width: 25%;
}
.footer__account {
  width: 28%;
}
.footer__copyright {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #4e4b66;
}
/* responsive-footer */
@media (max-width: 1112px) {
  .method-payment__button {
    width: 120px;
  }
  .group-button {
    /* justify-content: flex-start !important; */
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 36px;
  }
  .search-mobile {
    border-bottom: none !important;
  }
  #search-navbar {
    width: 100%;
    flex-direction: column;
    text-align: start;
    display: block !important;
  }
  .nav-item {
    display: block;
    margin: 0 16px !important;
    text-align: center !important;
    padding: 8px 0 !important;
    border-bottom: 1px solid #dedede;
  }
  .nav-link {
    margin: 0 !important;
    padding: 8px 0 !important;
  }
  .nav-search {
    padding: 8px 0 !important;
  }
  .footer-nav-mobile {
    margin-top: 36px !important;
    border-bottom: none !important;
  }
  .footer-nav-mobile a {
    display: unset;
    color: #6e7191;
    font-size: 14px;
  }
  .bi-search {
    display: none;
  }
  .user-photo {
    display: none;
  }
  .movie-detail__title {
    padding-top: 24px;
    text-align: center;
  }
  .movie-detail__desc {
    padding-left: 0 !important;
  }
  .casts,
  .schedule {
    width: 50%;
  }
}
@media (max-width: 867px) {
  .list-header {
    padding-left: 16px;
  }
  .footer-explore {
    width: 15%;
  }
  .footer__account {
    width: 29%;
  }
  .footer__sponsor-item,
  .footer__explore-item,
  .footer__account-item {
    padding-left: 16px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    display: block;
  }
  .foot {
    width: 80%;
  }
  .footer__explore-list {
    margin-right: 8px;
  }
  .list-header {
    padding-left: 0;
  }
  .footer__explore-item,
  .footer__sponsor-item {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__account-item {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
  }
  .footer__account-item span {
    display: none;
  }
  .footer__copyright {
    justify-content: start;
    text-align: left;
  }
  .footer__container {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .payment-info--list {
    display: none !important;
  }
  .price .property {
    font-size: 18px;
  }
  .foot {
    width: 100%;
  }
}
@media (max-width: 452px) {
  .btn-back-step,
  .btn-confirm-payment {
    margin: 8px !important;
    font-size: 14px;
    font-weight: 500;
  }
  .input-personal-info {
    padding-left: 8px;
  }
}
@media (max-width: 356px) {
  .price .property {
    font-size: 14px;
  }
  .payment-method__option {
    padding: 16px 12px !important;
  }
  .personal-info__description {
    padding-left: 8px !important;
    justify-content: center !important;
  }
  .personal-info-desc {
    padding: 0 16px !important;
  }
}
